
body {
  font-family: sans-serif;
  background-color: maroon;
  width: 100%;
}

header {
  text-align: center;
}

.header-title {
  display: inline-block;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 36px;
  font-weight: bold;
  transform: translateY(0) translateX(0);
  margin-top: 10px;
}

.header-title:hover {
  transform: translateX(200px);
  transition: linear 1s;
  background-color: lightcoral;
  color: black;
}

.header-title:hover::before {
  display: inline-block;
  content: '♢';
}

.header-title:hover::after {
  display: inline-block;
  content: '☺️';
}

nav {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

nav a {
  text-decoration: none;
  color: lightcoral;
  margin-left: 15px;
  background-color: black;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
}

nav a:hover {
  color: black;
  background-color: lightcoral;
}

.sites:hover::after {
  content: '👍🏻';
}

.info:hover::after {
  content: '🔎';
}

h3 {
  text-align: center;
}

.cards {
  display: flex;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
}

.card-item {
  background-color: black;
  color: lightcoral;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  font-weight: bold;
  border-radius: 15px;
}

.card-item img, .tool-item img {
  width: 350px;
  height: auto;
  border-radius: 15px;
}

.tools {
  display: flex;
}

.tool {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
}

.tool-item {
  background-color: black;
  color: lightcoral;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  font-weight: bold;
  border-radius: 15px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin-top: 10px;
}

footer img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.container {
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  background-color: lightcoral;
  padding: 15px;
}

.link-header {
  text-decoration: none;
  color: lightcoral;
  margin-left: 15px;
  background-color: black;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
}

header a:hover {
  color: black;
  background-color: lightcoral;
}

header a:hover::after {
  content: "👀";
}

header h1 {
  text-align: center;
  color: black;
}

header h1:hover {
  transform: rotate(180deg);
}

main h1{
  color: black;
}



.details {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.description {
  font-weight: bold;
}

.picture {
  width: 500px;
}

.birthday .value:hover::before {
  content: '🎂';
  padding-right: 5px;
}

ul {
  list-style-type: none; 
  padding-left: 0;
}

ul li::before {
  content: '💖'; 
  padding-right: 8px;
}

.picture img {
  box-shadow: 20px 0 0px 10px maroon;
  width: 300px;
  height: 300px;
  display: inline-block;
  background-color: red;
  border-radius: 50%;
}

.picture img:hover {
   animation: rotate 5s linear infinite; 
}

@keyframes rotate {
  from {
  transform: rotate(0deg);
  }
  to {
  transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%, 100% {
  transform: translateY(0); 
  }
  50% {
  transform: translateY(-20px);
  }
}

@keyframes fadeInOut {
  0% {
  opacity: 0; 
  }
  50% {
  opacity: 1; 
  }
  100% {
  opacity: 0;
  }
}

.articles-section {
  margin: 50px 0px 50px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; 
  padding: 20px;
}

.article {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article a {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 15px;
  background-color: BLACK;
  color: lightcoral;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  transition: background-color 0.3s, background-image 0.3s;
}


.article a:hover {
  background-color: LIGHTCORAL;
  color: black;
  text-decoration: none;
}

.article:hover {
  box-shadow: 10px 0 0 lightcoral;
}

.tips, .tools {
  font-size: 24px;
  color: lightcoral;
  margin-bottom: 20px;
  font-weight: bold;
  transition: transform 0.3s ease-in-out, color 0.3s ease;
}

.tips:hover, .tools:hover {
  transform: translateY(-10px); 
  color: lightcoral; 
}

.tool-descr::before {
  content: "🛠️ ";  
  font-size: 24px; 
  margin-right: 8px;
}

.tool-descr a {
    margin-left: 5px;
    text-decoration: none;
    color: lightcoral;
}

.tool-descr a:hover {
    color: BLACK;
    background-color: lightcoral;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
}

